@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Jost:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'AR One Sans', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url('pxfuel.jpg') ;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

.head{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: rgb(255, 140, 0);
    font-size: 3rem;
    width: 30rem;
    height: 95%;
    padding: 1rem;
    border-radius: 1rem;
    font-family: 'Jost', sans-serif;
    transition: ease-in-out .5s;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(5px);
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    
}

.cont2{
    display: grid;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: .8rem;
    height: 4rem;
    width: 15rem;
    color: white;
}
select{
    border: none;
    margin-top: .5rem;
    margin-bottom: 0.5rem;
    outline: none;
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem;
    background-color: bisque;
}

option{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    color: white;

}

.cont3{
    display: grid;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.247);
    color: white;
    backdrop-filter: blur(0px);
    width: 20rem;
    height: 10rem;
    margin-top: 4rem;
    transition: ease-in-out .3s;
    border-radius: 1rem;
    
}
.btn{
    width: 9rem;
    height: 2rem;
    border-radius: .5rem;
    border: none;
    background-color: rgb(255, 143, 6);
    color: white;
    transition: ease-in-out .1s;
}
.btn:hover{
    cursor: pointer;

}
.btn:active{
    background-color: rgb(97, 53, 0);
}

.txt{
    transition: ease-in-out .3s;
}

@media screen and (max-width: 1020px) {
    
    body{
        display: grid;
        justify-content:center;
        align-items: center;
        place-items: center;
    }
    .head{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
    }
   
}

@media screen and (max-width: 430px) {
    
    body{
        justify-content: center;
    }

    .head{
        margin-top: 0;
        height: 10rem;
        width: 100vw;
        font-size: 2.5rem;
        background-color: rgba(0, 0, 0, 0.312);
    }
    .container{
        width: 100%;  
        height: 50rem; 
    }
    .btn{
        width: 60vw;
        height: 5rem;
        box-shadow: none;
        font-size: 1.5rem;
    }
    .cont3{
        width: 100vw;
        height: 16rem;
        background-color: rgba(255, 255, 255, 0.282);
        margin-top: 8rem;
    }
    select{
        width: 20rem;
        height: 3rem;
        font-size: 1.3rem;
    }
    label{
        font-size: 1.3rem;
    }
    .txt{
        font-size: 1.3rem;
    }
}